.log{
    height: 4.375rem;
    width: auto;
}
.h-login{
    line-height: 4.375rem;
}
.nav{
    width: 100%;
    height:3.125rem;
    line-height:3.125rem;
    background: #454545;
    color: #fff;
    position: relative;
    z-index: 99999999;
}
.logo{
    padding-right:1.25rem;
    line-height: 4.375rem;
    margin-left: 3.125rem;
}
.nav-info{
    width: 100%;
}
.nav-info a{
    width:16.6%;
    height:3.125rem;
    display:block;
    float:left;
    text-align:center;
    position:relative;
    color: #fff;
}
.nav-info a:first-child{
    margin-left: 16.6%;
}
.nav-info a:hover{
    color: :#ff6600;
    background: #2e2e2e;
}
.nav-info a:after{
    content:"";
    width:1px;
    height:1rem;
    display:block;
    position:absolute;
    right:0;
    top:1.125rem;
    background:#666666;
}
/*下边框*/
/*.nav-info a.active:before{
    content:"";
    width:6.25rem;
    height:2px;
    display:block;
    position:absolute;
    right:0;
    bottom:-1px;
    background:#41c7db;
}*/

.bigImg{
    /*padding-top:0.9375rem;*/
    width: 100%;
    height: auto;
}
.imgcon{
    background: url(../images/gban1.jpg) -17.5rem;
    width: 100%;
    height: 37.5rem;
}
.bigImg img{
    width: 100%;
    height: auto;
}
.titleName{
    color:#ff6600;
    font-size:1.25rem;
    text-align:center;
    padding:1.5rem 0;
}
.musicStyle{

}
.musicStyle .box{
    width:8.125rem;
    text-align:center;
    float:left;
    margin-right:2.5rem;
}
.musicStyle .box:last-child{
    margin:0;
}
.billboard .box{
    width:28.5rem;

    padding:1.25rem;
    border:1px #666666 solid;
    margin-left: 3rem;

}
.billboard .title{
    height:6.25rem;
}
.billboard .title img{
    width:6.25rem;
    height:6.25rem;
    float:left;
}
.billboard .title span{
    width:7rem;
    height:6.25rem;
    display:block;
    float:left;
    line-height:6.25rem;
    font-size:1.25rem;
    color:#ff6600;
    padding-left:1.25rem;
}
.billboard ul{
    padding-top:1.25rem;
}
.billboard li{
    height:2.5rem;
    line-height:2.5rem;
    overflow:hidden;
    padding-right:0.625rem;
}
.billboard li span{
    width:2.5rem;
    height:2.5rem;
    display:inline-block;
    text-align:center;
}
.billboard li span.red{
    color:#ca4141;
}
.billboard li.j{
    background:#e8e8e8;
}
.billboard li.o{
    background:#f4f4f4;
}

.footer{
    width:100%;
    padding:1.25rem 0;
    background-color:#2d3237;
    margin-top:6.25rem;
    color:#ffffff;
}

.footer .con{
    
    height:5rem;
    float: left;
    padding:0 2.5%;
    padding-right: 2.5%\9\0;
    /*margin-left: 2rem;*/

}
.footer .con a,.footer .con p{
    color:#aba6a6;
}
.footer .con p{
    margin-top:0.3125rem;
    font-size:0.75rem;
    /*padding-left: 6rem;*/
}
.footer .con div{
    /*padding-left: 6rem;*/
}
.footer .con .title{
    font-size:1.125rem;
}
.footer .line{
    border-right:1px #575b5f solid;
    -webkit-flex:1;
    -webkit-box-flex: 1;
    margin: 0;
   /*margin-left: 110px\0/;*/
}
.copyright{
    width:100%;
    height:2.5rem;
    line-height:2.5rem;
    background:#23282d;
    color:#aba6a6;
    text-align: center;
}

.lgTitle{
    width:80%;
    margin:1.875rem auto;
    color:#ff6600;
    font-size:1.25rem;
    border-bottom:1px #ff6600 solid;
    padding-bottom:0.625rem;
}
.loginBox{
    width:21.25rem;
    /*margin:0 auto 3.125rem;*/
    position: relative;
    top: 0;
    right: 6.25rem;
    z-index: 2;
    float: right;
    border:1px #d3d3d3 solid;
    border-radius:0.3125rem;
    padding:3rem;
    background-color: rgba(255,255,255,.8);
}
.loginBox .infoBox{
    width:19.875rem;
    height:1.875rem;
    padding:0.625rem;
    border:1px #999999 solid;
    border-radius:0.3125rem;
    margin-bottom:1.25rem;
}
.loginBox .infoBox .icon{
    width:2.5rem;
    height:1.875rem;
    display:inline-block;
    float:left;
    border-right:1px #bbbbbb solid;
}
.loginBox .infoBox .text{
    width:15rem;
    height:1.875rem;
    line-height:1.875rem;
    border:0;
    margin-left:0.625rem;
    font-size:0.875rem;
    background: 0;
}
.loginBox .infoRember{
    display:block;
    color:#666666;
}
.loginBox .buttonBox{
    width:32.5rem;
    padding-top:1.25rem;
}
.loginBox .button{
    width:21.25rem;
    height:3.125rem;
    border:0;
    color:#ffffff;
    font-size:1rem;
    background:#f3b100;
    border-radius:0.3125rem;
}
.loginBox .bn{
    margin-top:1.25rem;
}
.loginBox .rgco{
    color:#f3b100;
}
.loginBox .code{
    width:7.5rem;
    height:3.125rem;
    display:block;
    float:right;
    color:#ffffff;
    background:#f3b100;
    border-radius:0.3125rem;
    text-align:center;
    line-height:3.125rem;
}

.selectBox{
    width:16.25rem;
    height:1.875rem;
    float:left;
    position:relative;
    margin-left:0.625rem;
}
.selectBox:after{
    content:"";
    width:1.25rem;
    height:0.625rem;
    display:block;
    background:url(../images/x_06.jpg) no-repeat;
    position:absolute;
    right:0;
    top:0.625rem;
}
.selectBox span{
    display:block;
    line-height:1.875rem;
    color:#666666;
}
.select{
    width:100%;
    overflow:hidden;
    position:absolute;
    left:0;
    top:1.875rem;
    border:1px #999999 solid;
    background:#ffffff;
    border-radius:0.3125rem;
    display:none;
}
.select a{
    display:block;
    height:1.875rem;
    line-height:1.875rem;
    padding:0 0.625rem;
}
.select a:hover{
    background:#f1f1f1;
}

.rgsecces{
    font-size:1.25rem;
    color:#ff6600;
}
.rgseccests{
    font-size:0.875rem;
    color:#b7b7b7;
    padding-bottom:6.25rem;
}
.aboutus{
    width:37.5rem;
    margin:0 auto;
    border:1px #d3d3d3 solid;
    border-radius:0.3125rem;
    padding:1.25rem;
}
.aboutus .title{
    font-size:1.25rem;
    padding-bottom:0.625rem;
}
.aboutus .con{
    color:#666666;
}

.musicPlayer{
    width:62.5rem;
    margin:0 auto;
    background:#f3f3f3;
    padding:1.875rem;
}
.musicName{
    height:3.125rem;
    line-height:3.125rem;
}
.musicName .name{
    font-size:1.25rem;
    padding-right:0.625rem;
}
.musicName .people{
    font-size:0.75rem;
}
.musicProgress{
    width:42.5rem;
}
.musicProgress .progress{
    width:30rem;
    height:0.3125rem;
    float:left;
    background-color:#c1c2c0;
    margin-top:0.9375rem;
}
.musicProgress .progress .nowPro{
    width:5rem;
    height:0.3125rem;
    background-color:#3792ef;
}
.musicProgress .time{
    margin:0.5rem 0.625rem 0 1.25rem;
    color:#666666;
}
.musicButton img{
    margin-right:1.25rem;
}
.musictext{
    width:37.5rem;
    height:6.25rem;
    margin:1.25rem auto;
    overflow:hidden;
    overflow-y:auto;
}
.musicStyle{
    margin:2.5rem auto 0;
    border:1px #d3d3d3 solid;
    padding:1.25rem;
}
.musicStyle .title{
    font-size:1.25rem;
}
.musicStyle .con a{
    width:11.25rem;
    height:2.5rem;
    border:1px #d3d3d3 solid;
    border-radius:1.25rem;
    display:block;
    font-size:0.875rem;
    float:left;
    margin:0.625rem 0.625rem 0;
    text-align:center;
    line-height:2.5rem;
}
.musicStyleImg{
    width:33.125rem;
    margin:2.5rem auto 0;
}
.musicStyleImg{
    text-align:left;
}
.musicStyleImg a{
    width:6.25rem;
    height:12.5rem;
    float:left;
    display:block;
    text-align:center;
    margin:0 0.9375rem 0 0.9375rem;
}
.isVip{
    width: 80%;
    display: block;
}
.isVip .text.fl{
    padding-left:6.25rem;
}
.isVip .text .tit{
    font-size:1.25rem;
    padding-top:3.125rem;
}
.isVip .text p{
    padding-bottom:0.9375rem;
}
.isVip .text .button{
    width:6.25rem;
    height:2.1875rem;
    display:inline-block;
    border-radius:0.3125rem;
    background-color:#00b7ee;
    text-align:center;
    line-height:2.1875rem;
}
.isVip .text.fr{
    text-align:right;
}
.flexLogin{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:100;
}
.flexLogin .box{
    width:33.125rem;
    height:16.25rem;
    margin:10% auto 0;
    border:1px #666666 solid;
    background:#ffffff;
}

